span.Air_flyaway {
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    position: relative;
    animation-name: AirFlyawayAnimation;
    animation-duration: 8s;
    border-radius: 0.25rem;
    padding: 0.25rem;
    margin: 0.25rem;
}

@keyframes AirFlyawayAnimation {
    0% {
        background-color: white;
        left: 0px;
        top: 0px;
    }
    25% {
        background-color: cornflowerblue;
        left: -60px;
        top: -60px;
    }
    50% {
        background-color: cornflowerblue;
        left: -60px;
        top: -60px;
    }
    75% {
        background-color: white;
        left: 60px;
        top: -60px;
    }
    100% {
        background-color: white;
        left: 0px;
        top: 0px;
    }
}